snippet pubf "Public method"
	public function ${1}(${2}): ${3}
	{
		${0}
	}

snippet prof "Protected method"
	protected function ${1}(${2}): ${3}
	{
		${0}
	}

snippet prif "Private method"
	private function ${1}(${2}): ${3}
	{
		${0}
	}

